@media (any-hover) {

  .btn--fill:focus-visible {
    outline: none;
    border-color: var(--color-orange);
    background: transparent;
    color: var(--color-black);
  }

  .btn--fill:hover {
    outline: none;
    border-color: var(--color-orange);
    background: transparent;
    color: var(--color-black);
  }

  .btn--fill:active {
    opacity: var(--opacity-hover);
  }

  .btn--stroke:focus-visible {
    outline: none;
    background: var(--color-orange);
    color: var(--color-white);
  }

  .btn--stroke:hover {
    background: var(--color-orange);
    color: var(--color-white);
  }

  .btn--stroke:active {
    opacity: var(--opacity-hover);
  }

  .header__text:focus-visible {
    outline: 2px solid var(--color-white);
    outline-offset: 2px;
  }

  .header__text:hover {
    opacity: var(--opacity-hover);
  }

  .header__text:active {
    opacity: 1;
  }

  .forms-open:focus-visible {
    outline: 2px solid var(--color-white);
    outline-offset: 2px;
  }

  .forms-open:hover {
    opacity: var(--opacity-hover);
  }

  .forms-open:active {
    opacity: 1;
  }

  .forms__close-btn:focus-visible {
    color: var(--color-lightgray);
  }

  .forms__close-btn:hover {
    color: var(--color-lightgray);
  }

  .forms__close-btn:active {
    color: var(--color-orange);
  }

  .forms-tab__btn:focus-visible {
    outline: none;
    color: var(--color-lightgray);
  }

  .forms-tab__btn:focus-visible.active {
    color: var(--color-white);
  }

  .forms-tab__btn:hover {
    color: var(--color-lightgray);
  }

  .forms-tab__btn:hover.active {
    color: var(--color-white);
  }

  .form__input:focus-visible {
    border-color: var(--color-orange);
  }

  .form__input:focus-visible::placeholder {
    color: var(--color-orange);
  }

  .form__input:hover {
    border-color: var(--color-orange);
  }

  .form__input:hover::placeholder {
    color: var(--color-orange);
  }

  .form__label:focus-visible {
    color: var(--color-orange);
  }

  .form__label:hover {
    color: var(--color-orange);
  }

  .form__checkbox:focus-visible+.form__checkbox-style {
    border-color: var(--color-orange);
  }


  .form__checkbox:hover+.form__checkbox-style {
    border-color: var(--color-orange);
  }

  .form__link:focus-visible {
    outline: none;
    opacity: var(--opacity-hover);
  }

  .form__link:hover {
    opacity: var(--opacity-hover);
  }

  .form__help:focus-visible {
    outline: none;
    color: var(--color-orange);
  }

  .form__help:hover {
    color: var(--color-orange);
  }

  .form__agree-link:focus-visible {
    outline: none;
    color: var(--color-orange);
    ;
  }

  .form__agree-link:hover {
    color: var(--color-orange);
    ;
  }

  .currency__caption:focus-visible {
    outline: 2px solid var(--color-white);
    outline-offset: 2px;
  }

  .currency__caption:hover {
    opacity: var(--opacity-hover);
  }

  .currency__caption:active {
    opacity: 1;
  }

  .currency__item:focus-visible {
    outline: 2px solid var(--color-linen);
    opacity: var(--opacity-hover);
  }

  .currency__item:hover {
    opacity: var(--opacity-hover);
  }

  .logo:focus {
    outline: 2px solid var(--color-orange);
    outline-offset: 2px;
  }

  .nav__link:focus-visible {
    padding-bottom: 0;
    outline: 2px solid var(--color-orange);
    outline-offset: 4px;
    background: none;
  }

  .nav__link:hover {
    background-size: 100% 2px;
  }

  .nav__link:active {
    opacity: var(--opacity-hover);
  }

  .nav__link--active {
    color: var(--color-orange);
  }

  .nav__link--active:focus-visible {
    outline: none;
    background: none;
  }

  .nav__link--active:hover {
    cursor: auto;
    background: none;
  }

  .nav__link--active:active {
    opacity: 1;
  }

  .search-form__btn:focus .search-icon {
    fill: var(--color-orange);
  }

  .search-form__btn:hover .search-icon {
    fill: var(--color-orange);
  }

  .search-open:focus .search-icon {
    fill: var(--color-orange);
  }

  .search-open:hover .search-icon {
    fill: var(--color-orange);
  }

  .cart:focus-visible {
    outline: none;
  }

  .cart:active {
    opacity: var(--opacity-hover);
  }

  .cart:focus-visible .cart-icon {
    fill: var(--color-orange);
  }

  .cart:hover .cart-icon {
    fill: var(--color-orange);
  }

  .prices__link:focus-visible {
    outline: none;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
  }

  .prices__link:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
  }

  .prices__link:active {
    box-shadow: none;
    top: 0;
  }

  .reviews__btn:focus-visible {
    outline: none;
    border-color: var(--color-orange);
  }

  .reviews__btn:hover {
    border-color: var(--color-orange);
  }

  .reviews__btn:active {
    opacity: var(--opacity-hover);
  }

  .reviews__btn:focus-visible .reviews__btn-color {
    fill: var(--color-orange);
  }

  .reviews__btn:hover .reviews__btn-color {
    fill: var(--color-orange);
  }

  .reviews__btn:active .reviews__btn-color {
    opacity: var(--opacity-hover);
  }

  .splide__arrow:focus-visible {
    outline: 2px solid var(--color-orange);
    outline-offset: 2px;
    opacity: var(--opacity-hover);
    transition: var(--opacity-transition);
  }

  .splide.is-focus-in .splide__arrow:focus {
    opacity: var(--opacity-hover);
    transition: var(--opacity-transition);
  }

  .splide__arrow:hover:not(:disabled) {
    opacity: var(--opacity-hover);
  }

  .splide__arrow:focus-visible svg {
    fill: var(--color-orange);
  }

  .splide__arrow:hover svg {
    fill: var(--color-orange);
  }

  .subscribe__form-input:focus {
    outline: none;
  }

  .subscribe__form-input:focus::placeholder {
    color: var(--color-orange);
  }

  .subscribe__form-input:hover::placeholder {
    color: var(--color-orange);
  }

  .subscribe__form-btn:focus-visible {
    outline: 2px solid var(--color-orange);
    outline-offset: 3px;
  }

  .subscribe__form-btn:hover {
    opacity: var(--opacity-hover);
  }

  .subscribe__form-btn:active {
    opacity: 1;
  }

  .footer__nav-link:focus-visible {
    outline: none;
    color: var(--color-orange);
  }

  .footer__nav-link:hover {
    color: var(--color-orange);
  }

  .footer__nav-link:active {
    color: var(--color-lightgray);
  }

  .footer__social-link:focus-visible .footer__social-icon {
    fill: var(--color-orange);
  }


  .footer__social-link:hover .footer__social-icon {
    fill: var(--color-orange);
  }

  .footer__social-link:active .footer__social-icon {
    fill: var(--color-lightgray);
  }

  .back-to-top:hover {
    background: rgb(214, 217, 214, .4);
  }

}

@media (max-width: 1420px) {

  :root {
--gap: 20px;
  }

  .container {
    padding: 0 40px;
  }

  .section-wrap {
    padding: 0 40px;
  }

  .header__logo {
    margin-right: 0;
    order: 1;
  }

  .nav {
    margin-right: 0;
    order: 3;
    width: 100%;
  }

  .nav__list {
    justify-content: center;
  }

  .header-bottom__right {
    order: 2;
  }

  .hero {
    background-image: url(../img/Slider-mob.webp);
  }

  .hero__content {
    width: 40%;
  }

  .hero__subtitle {
    font-size: 38px;
  }

  .control__container {
    justify-content: space-between;
  }

  .control__contant {
    padding-right: 20px;
    padding-left: 0;
    margin-right: 0;
  }

  .control__title {
    font-size: 26px;
    line-height: 34px;
  }

  .control__small-img {
    height: calc(50% - (var(--gap) / 2));
  }

  .reviews {
    margin-bottom: 72px;
    height: 700px;
  }

  .reviews__title {
    padding-top: 160px;
  }

  .reviews__text {
    margin-bottom: 24px;
    max-width: 470px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: var(--color-gray);
  }

  .reviews__img {
    bottom: -5px;
    right: 87px;
    width: 400px;
    height: 400px;
  }

  .footer__top {
    justify-content: space-between;
  }

  .footer__contant {
    margin-right: 0;
  }

  .subscribe__form {
    width: 100%;
  }

  .footer__links {
    margin-left: 0;
  }

}

@media (max-width: 1023px) {}

@media (max-width: 767px) {}

@media (max-width: 575px) {}
